@charset "UTF-8";

@font-face
{
    font-family: "noto sans jp";
    src: url("font/NotoSansCJKjp-Regular.woff2");
    font-weight: 400;
}

@font-face
{
    font-family: "noto sans jp";
    src: url("font/NotoSansCJKjp-DemiLight.woff2");
    font-weight: 300;
}

body
{
    margin: 0;
    background: url("pinkd1.png");
    font-size: 0;
    font-family: "noto sans jp";
    font-weight: 500;
}

.wrap
{
    width: 1200px;
    min-height: 500px;
    margin: 50px auto 50px auto;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.case-wrap
{
    padding: 0 90px 0 90px;
}

.case
{
    padding: 30px 0 30px 0;
}

.case .title
{
    font-size: 22px;
    color: white;
    background-color: #3e3e5e;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 40px;
    padding: 5px 0 5px 0;
    letter-spacing: 1.2px;
}

.case .button-hold
{
    text-align: center;
}

.case .gitbutton
{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    color: #3e3e5e;
    text-decoration: none;
    border: 3px dashed;
    border-radius: 50px;
    padding: 13px 70px 13px 70px;
    transition: color .2s,background-color .2s;
}

.case .gitbutton.disabled
{
    opacity: .5;
}

.case .gitbutton:hover
{
    background-color: #3e3e5e;
    color: white;
}

/*-- case images --*/
.images
{
    text-align: center;
}

.images img
{
    width: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-top: 5px solid #3e3e5e;
    border-bottom: 5px solid #3e3e5e;
    vertical-align: top;
    transition: opacity .2s;
}

.images a:nth-of-type(2n-1)
{
    margin-right: 20px;
}

.images.single img
{
    width: auto;
    height: 500px;
}

.images a
{
    background-color: #3e3e5e;
}

.images a:hover img
{
    opacity: .5;
}