@media (max-width: 1200px)
{
    body .wrap
    {
        width: 95%;
    }

    .wrap .case-wrap
    {
        padding: 0 5% 0 5%;
    }

    .case-wrap .case .title
    {
        font-size: 28px;
    }

    .case-wrap .case .button-hold
    {
        margin-top: 35px;
    }

    .case-wrap .case .gitbutton
    {
        font-size: 1.5rem;
        border-radius: 100px;
        padding: 5% 20% 5% 20%;
    }

    .case .images img,.case .images.single img
    {
        width: 100%;
        height: auto;
    }
}